@import '/src/styles/globals.scss';

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactsPage {
  display: flex;
  // flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 2.5% 0;
  @include page-bg;
}

.title {
  @include page-title;
}

.buttons {
  display: flex;
  gap: 1%;
  padding-bottom: 0.5%;
}

.button {
  height: 100%;
  font-size: $font-size-12;
  line-height: 100%;
  font-weight: bold;
  background-color: $btn-color;
  color: $text-and-icons;
  border: none;
  border-radius: $border-radius-10;
  padding: 0.5% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  &:disabled {
    background-color: $grey-dark;
    cursor: default;
  }
}


.agTable {
  width: 90%;
  height: 100%;
  // flex: 1;
}

.tableBtn {
  cursor: pointer;
  width: 100%;
  height: 100%;

  & svg {
    height: 100%;
    width: 100%;
  }
}

.modal {
  min-width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border: $solid-grey-border;
  border-radius: $border-radius-16;
  z-index: 2;
  background-color: $black;
  & img {
    height: 60%;
    object-fit: contain;
    border-radius: $border-radius-8;
  }
}

.overlay {
  background-color: rgba($black, 0.7);
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.containerModal {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3vh;
  min-width: 20vw;
}

.buttonBlock {
  display: flex;
  height: 4vh;
  gap: 5%;
  width: 80%;
}

.titleModal {
  @include modal-title;
}

.textModal {
  font-size: $font-size-14;
  color: $red-main;
}
