@import '/src/variables.scss';

.main {
    display: flex;
  }
  
  .createContactPage {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
      position: relative;
  
      background-image: url('./../../images/bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }