@import '/src/styles/mixins.scss';
@import '/src/styles/variables.scss';


.sectionWrap {
    padding: .5rem;
    margin-bottom: 2rem;
}

.sectionName {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
}

.deleteSection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1rem;
    color: #00000059;
    cursor: pointer;
}

.deleteSection:hover {
    color: #000;
}

.sectionHeader, .tool, .service {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-template-rows: 1fr;
    align-items: center
    
}

.sectionHeader {
    font-size: 1rem;
    color: #00000059;
    margin-bottom: 0.3rem;
}

.headerDelete {
    padding-left: .5rem;
}

.tool, .service {
    font-size: 1.2rem;
    height: 1.6rem;
    border-bottom: 1px dotted rgba(128, 128, 128, 0.26);
}

.service {
    width: 95%;
    margin-left: auto;
}

.tool > input {
    border: none;
    height: 70%;
    width: 80%;
    font-family: inherit;
}

.toolDelete {
    width: 70%;
    height: 95%;
    color: #00000059;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    background-color: transparent;
    border: none;
}

.toolDelete:hover {
    color: #000;
}

.addToolWrap {
    margin-top: 2rem;
}

.addTool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem 1rem;
    border: white;
    font-size: 1rem;
    color: #00000059;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
}

.addTool:hover {
    color: #000;
}