.equipment-modal {
  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__table {
    margin: 16px 0;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }
}

.ant-table-row {
  cursor: pointer;
  &:hover > td {
    background-color: #92dafc !important;
  }
  &--selected {
    background-color: #33a2d6;
    td {
      color: #fff;
    }
    &:hover > td {
      background-color: #5f5f5f !important;
    } 
  }
}
