@import '/src/variables.scss';

.wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10%;
    box-shadow: 0 7px 7px -7px #11111173;

    &>p {
        transition: $transition-common;
    }

    &:hover {
        .imgWrap,
        p {
            transform: scale(1.1);
        }
    }
}

.imgWrap {
    width: 20%;
    transition: $transition-common;
    >svg {
        width: 40px;
        height: 40px;
        padding-left: 1.5rem;
    }
}

.img {
    width: 100%;
    max-width: 100%;
}

.text {
    color: $white-main;
    font-size: $font-size-18;
}