@import '/src/styles/variables.scss';

.wrap {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 15% 70%;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 15%;
    box-shadow: 0 7px 7px -7px #11111173;
    cursor: pointer;
    color: $white-main;

    &>p {
        transition: $transition-common;
    }

    &:hover {
        .imgWrap,
        p {
            transform: scale(1.1);
        }
    }
}

.imgWrap {
    transition: $transition-common;
    width: 3.5rem;
   & >svg {
        fill:currentColor;
        padding-left: 1.5rem;
        width: 3vw;
        height: 2vw;
        max-width: 100%;
    }
}

.img {
    width: 100%;
    max-width: 100%;
}

.text {
    font-size: $font-size-18;
    text-decoration: none;
}

//очень большие экраны
@media (min-width: 2560px) {
    .text {
        font-size: 24px;
    }
    }
    
    //большие экраны и мониторы
    @media (min-width: 1440px) {
    .text {
        font-size: 18px;
    }
    }