@import '/src/variables.scss';

.navigation {
    position: relative;
    height: 100%;
    width: 16% !important;
    min-width: 16%;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
    width: 16% !important;
    min-width: 16%;
    height: 100vh;
    min-height: fit-content;
}

.items {
    &>svg {
        width: 3vw;
        // height: 40px;
        padding-left: 1.5rem;
    }
}

.imgWrap {
    transition: $transition-common;
    width: 3rem;
    >svg {
        width: 3vw;
        max-width: 100%;
    }
}

.admExit {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-top: 30%;
    transition: $transition-common;

    &:hover {
        transform: scale(0.9);
    }
}

.admName {
    color: $white-main;
    font-size: $font-size-18;
    text-decoration: none;
}