.navigation {
    position: relative;
    height: 100%;
    width: 16% !important;
    min-width: 16%;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
    width: 16% !important;
    min-width: 16%;
    height: 100vh;
    min-height: fit-content;
}

.items {
    &>svg {
        width: 40px;
        height: 40px;
        padding-left: 1.5rem;
    }
}