* {
    transition: all .6s;
}

a {
    text-decoration: none;
}

.main_navigation {
    position: relative;
    height: 100%;
    width: 16% !important;
    min-width: 16%;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
}

.main_navigationInnerContent {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    border-right: .8rem solid rgba(0, 0, 0, 0.322);
    width: 16% !important;
    min-width: 16%;
    height: 100vh;
    min-height: fit-content;
}

.logo_image__svg {
    max-width: 50%;
}

.main_navigation__logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main_navigation__logo:hover {
    .main_navigation__logo_image {
        transform: scale(1.05);
    }
}

.main_navigation__logo_image {
    width: 50%;
}

.logo_image__svg {
    max-width: 100%;
    width: 100%;
}

.main_navigation__logo_text:active {
    text-decoration: none;
}

.main_navigation__menu {
    background-color: #2a2a2a;
}

.main_navigation__menu_item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 7px 7px -7px #11111173;
}

.main_navigation__menu_item:hover {
    .menu_item__text {
        color: #b4b4b8;
        transform: scale(1.05);
    }

    .menu_item__icon_svg > path {
        fill: #b4b4b8 !important;
    }
}

.menu_item__text {
    font-size: 1.5rem;
    color: #fcfcfd;
}

.menu_item__icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_item__icon_svg {
    width: 40px;
    height: 40px;
    padding-left: 1.5rem;
}

.menu_item__icon_svg > path {
    fill: #fcfcfd !important;
}

.main_navigation__logout {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.main_navigation__logout:hover {
    .logout_block__link_svg > path{
        fill: #b4b4b8;
        transform: scale(1.05);
    }
    .logout_block__text {
        color: #b4b4b8;
    }
}

.logout_block__link_svg {
    width: 30px;
    height: 30px;
}

.logout_block__link {
    margin-right: 1rem;
    display: flex;
}

.logout_block__link_svg > path {
    fill: #fcfcfd;
}

.main_navigation__logout_block {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.logout_block__text {
    color: #fcfcfd;
}