
@import '/src/styles/variables.scss';

.link {
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img {
    max-width: 100%;
    width: 100%;
    transition: $transition-common;
    &:hover {
        transform: scale(1.05);
    }
}

.imgWrap {
    width: 60%;
}