@import '/src/variables.scss';
@import '/src/mixins.scss';

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  color: $black;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  max-width: 100vw;
}

.content-container {
  margin: auto;
  //max-width: 1200px;
  max-width: 83.3%;

}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}