@import '/src/variables.scss';

.title {
  color: white;
  font-size: $font-size-32;
  text-align: center;
  margin-top: 5%;
}

.link {
  color: white;
  font-size: $font-size-18;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
