@import '/src/styles/variables.scss';

.select {
    font-size: $font-size-16;
    font-weight: bold;
    background-color: $btn-color;
    text-align: center;
    color: $text-and-icons;
    border: none;
    padding: 2% 4%;
}

.option {
    font-size: $font-size-14;
    font-weight: bold;
    background-color: $btn-color;
    text-align: center;
    color: $text-and-icons;
    border: none;
    padding: 2% 4%;
}


