@import './variables.scss';

@mixin page-title {
  // стили для заголовка страницы
  font-size: $font-size-32;
  color: $white-main;
  text-align: center;
  background-color: transparent;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 5%;
  border-radius: $border-radius-20;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.411);
}

@mixin page-bg {
  // стили для фоновой картинки страницы
  background-image: url('./../../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  // background-position: center left 66%;
  background-position: center;
  background-attachment: local;
  // background-attachment: fixed;
}