//colors

$black: #242424;
$text-and-icons: rgb(44, 40, 40);
$grey-dark: #656565;
$grey-tab-bar: #4f4f4f;
$grey-medium: #aeaeae;
$grey-medium-light: #e6e6e6;
$grey-light: #f7f7f7;
$white-main: #fcfcfd;
$white-transparent: #fcfcfd86;
$green-main: #54a508;
$sale: #6abd42; //только в блоке рекламы
$red-main: #e4441d;
$red-main-transparent: #e4451da2;
$red-active-button: #c93c1a;
$blue: #2b478b;
$blue-transparent: #2b468bc0;
$yellow-star: #eecb6e;
$btn-color: #eef1f6;
$blue-light: #eef1f6;
$bg-modal: #0000003f;
$black-text: #000000;

$solid-grey-border: .8rem solid rgba(0, 0, 0, 0.322);

$border-radius-16: 1.111vw;
$border-radius-20: 1.389vw;
$border-radius-10: 0.756vw;
$border-radius-8: 0.556vw;

$font-size-10: 0.694vw;
$font-size-12: 0.833vw;
$font-size-13: 0.903vw;
$font-size-14: 0.972vw;
$font-size-15: 1.042vw;
$font-size-16: 1.111vw;
$font-size-18: 1.25vw;
$font-size-20: 1.389vw;
$font-size-26: 1.806vw;
$font-size-32: 2.222vw;

$box-shadow-blur-20: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.05);
$box-shadow-blur-15: 0px 0.278vw 1.042vw 0px rgba(0, 0, 0, 0.05);
$box-shadow-blur-hover: 0px 0px 1.389vw 0px rgba(0, 0, 0, 0.13);

$transition-common: all .6s;